POSTGRES_PASSWORD=your_postgres_password
POSTGRES_USER=your_postgres_username
POSTGRES_DB=your_postgres_database_name
POSTGRES_SERVER=db # не менять
POSTGRES_PORT=5432 # по умолчанию

REDIS_PASSWORD=your_redis_password
REDIS_HOST=redis # не менять
REDIS_PORT=6379 # не менять

DJANGO_KEY=your_django_secret_key

BINARY_CODE=your_binary_code